on:
  release:
    tags:
      - "v*" # Triggers on tags like v1.0, v1.0.1, etc.
      - "release-*" # Triggers on tags like release-2025-11-08

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      # This permission is needed for private repositories.
      contents: read
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: pdm-project/setup-pdm@v4

      - name: Publish package distributions to PyPI
        run: pdm publish --repository testpypi
